
@font-face {
  font-family: 'Gobold';
  src: url('Gobold.eot?#iefix') format('embedded-opentype'),  url('Gobold.woff') format('woff'), url('Gobold.ttf')  format('truetype'), url('Gobold.svg#Gobold') format('svg');
  font-weight: normal;
  font-style: normal;
}
